<div class="row marketing">
  <div class="col-lg-6">
    <h4>Please enter a guess</h4>
    <%= render 'form', game: @game %>
  </div>

  <div class="col-lg-6">
    <h4>Previous guesses</h4>
    <p>Donec</p>
    <p>Morbi</p>
    <p>Maece</p>
  </div>
</div>
